# put requirments here 

requests
google-generativeai
instructor
pydantic
python-dotenv
pandas
opencv-python
numpy
flask
spacy
pytesseract
Pillow
PyQt5
scikit-learn
pyspellchecker
flask
instructor[google-generativeai]
mysql-connector-python
symspellpy